boto==2.39.0
bz2file==0.98
clarifai==0.2.1
Django==1.9.5
docutils==0.12
flickrapi==2.1.2
gensim==0.12.3
httpretty==0.8.10
nltk==3.1
numpy==1.11.0
oauthlib==1.0.3
pandas==0.17.1
patsy==0.4.1
protobuf==3.0.0a3
pymongo==3.2.2
python-dateutil==2.4.2
python-igraph==0.7.1.post6
pytz==2015.7
requests==2.8.1
requests-oauthlib==0.6.1
requests-toolbelt==0.6.0
scikit-learn==0.17
scipy==0.17.0
six==1.10.0
sklearn==0.0
smart-open==1.3.2
statistics==1.0.3.5
statsmodels==0.6.1
tensorflow==0.6.0
wheel==0.29.0
